:root {
--bg-image: url("../images/1.jpg");
--ff-nabla: 'Nabla', cursive;
--ff-nunito: 'Nunito', sans-serif;
--ff-robotoSlab: 'Roboto Slab', serif;
--base-color: #ffe24d;
--bg-color: #525252;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

.debug {
    border: 1px solid green;
}

.navbar {
    background: var(--bg-color);
}

a {
    text-decoration: none;
    color: #ddd;
    transition: all .23s ease-in-out;
    position: relative;
}

a.nav-link.active {
    color: var(--base-color) !important;   
}
.bottom-links a:hover,
a.nav-link:hover {
    color: var(--base-color) !important;
}
a.nav-link.active::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--base-color);
    bottom: -5px;
    right: 45%;

}
.ff-nabla {
    font-family: 'Nabla', cursive;
    color: white;
}
.ff-nunito {
    font-family: 'Nunito', sans-serif;
}
.ff-roboto {
    font-family: 'Roboto Slab', serif;
}

.main-text {
    font-size: 6rem;
}

.col-h {
    height: 100%;
    max-height: 400px;
}

ul {
    list-style: none;
}

.btn {
    font-family: var(--ff-robotoSlab);
    font-size: 18px;
}
.btn:hover {
    box-shadow: rgba(253, 217, 10, 0.7) 6px 2px 16px 0px, rgba(238, 246, 18, 0.8) -6px -2px 16px 0px;
}
.bg-img {
    position: absolute;
    opacity: .23;
    z-index: 1;
    max-width: 100%;
    object-fit: contain;
}
section.bg-color {
    background: #fafafa !important;
}
section .container .col {
    z-index: 5;
}
.cont-head {
    font-family: var(--ff-robotoSlab);
    position: relative;
}
.cont-head:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background: red;
    margin-inline-start: -15px;
}

.cont-head:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background: red;
    margin-inline-start: 10px;
}
.cont-desc {
    font-family: var(--ff-nunito);
    max-width: 720px;
    margin-top: 8px;
}

/* Section Header */
.nav-item {
    transition: all .23s ease-in-out;
    margin-left: 3rem;
    position: relative;
}
li.nav-item:hover {
    scale: 1.04;
}
li.nav-item:hover::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--base-color);
    position: absolute;
    border: 5px solid transparent;
    bottom: -5px;
    right: 45%;
}

/* Section Hero */
section#hero{
    position: relative;
}
.blurry{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -2;
}

span#typed_head{
    font-size: 1.7rem;
}
h2#typed {
    font-size: 5em;
}
.image-block, .text-block {z-index: 2;}

.element-one {
    background-color: #525252;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 60%;
    top: 2%;
    opacity: .1;
    z-index: 1;
    border-radius: 50%;
}

.element-two {
    position: absolute;
    width: 90px;
    height: 90px;
    background: var(--base-color);
    top: 2.7%;
    left: 2rem;
    border-radius: 50%;
}

.frame2 {
    top: 3rem;
    right: -2rem;
    animation: upDown 4.8s infinite ease-in-out;
}

@keyframes upDown {
    0% {
        top: 1.5rem;
    }
    50% {
        top: 4rem;
    }
    100% {
        top: 1.5rem;
    }
}

.svg-group {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.svg-item {
    width: 160px;
    position: absolute;
    opacity: .09;
    filter: grayscale(100%);
    animation: shrinkGrow 3s infinite ease-in;
}

@keyframes shrinkGrow {
    0% {
        transform: scale(.81);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(.81);
    }
}

.item-1 {top: 2rem; right: 2rem;}
.item-2 {left: 12%; top: 12%; }
.item-3 {right: 24rem; bottom: 1.2rem;}
.item-4 {top: 49%; left: 36%; rotate: 45deg;}
.item-5 {bottom: 15%; opacity: .25;}
.item-6 {top: 18%; left: 48%;}
.item-7 {top: 35%; left: 15%;}

/* Section Features */
section#features .card {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
}
.card .card-img {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-img svg {
    max-width: 42px;
}
.card .card-text h3 {
    font-family: var(--ff-robotoSlab);
    font-weight: 600;
}
.card .card-text p {
    font-family: var(--ff-nunito);
}
hr.sep-2 {
    border: 0; 
    height: 3px;
    margin-top: 3rem;
    margin-bottom: 3rem; 
    background-image: linear-gradient(to right, #f0f0f0, #ff2d2d, #fee120, #f0f0f0);
  }
/* Section: Gather Your Squad */
section#refer_a_friend img.bg-img {
    bottom: 0;
    opacity: .15;
}


section#refer_a_friend .img-container img {
    max-width: 100%;
    max-height: 340px;
    object-fit: contain;
}

/* Section: How it Works */
.how-it-works {
    transition: all .23s ease-in;
}
.how-it-works .col img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.how-text-block h2 {
    font-family: var(--ff-robotoSlab);
    font-weight: 600;
}

.how-text-block p {
    font-family: var(--ff-nunito);
}
/* Section FAQ */
img.faq-img {
    max-width: 100%;
    max-height: 480px;
    object-fit: scale-down;
}

/* Section Footer */
section.footer {
    background: var(--bg-color);
    /* background: rgb(238, 136, 136); */
}
.footer .bottom-links a {
    margin-left: 25px;
    position: relative;
    color: rgb(219, 219, 219);
}
.footer .bottom-links a:not(:last-child)::after {
    content: '';
    height: 100%;
    min-height: 22px;
    max-height: 32px;
    width: 2.2px;
    background: red;
    position: absolute;
    right: -15px;
    top: 1.4px;
}

@media screen and (max-width: 1000px) {
    section#features .card {
        margin-bottom: 8px;
    }
}