:root {
--bg-image: url("../images/1.jpg");
--ff-nabla: 'Nabla', cursive;
--ff-nunito: 'Nunito', sans-serif;
--ff-robotoSlab: 'Roboto Slab', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

/*
$font-nabla: 'Nabla', cursive;
$font-nunito: 'Nunito', sans-serif;
$font-robotoSlab: 'Nunito', sans-serif;
*/

.navbar {
    background: #525252;
}

a {
    text-decoration: none;
    color: #ddd;
    transition: all .23s ease-in-out;
    position: relative;
}

a.nav-link.active {
    color: #ffe24d !important;   
}
a.nav-link:hover {
    color: #ffe24d;
}
a.nav-link.active::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffe24d;
    bottom: -5px;
    right: 45%;

}
.ff-nabla {
    font-family: 'Nabla', cursive;
}
.ff-nunito {
    font-family: 'Nunito', sans-serif;
}
.ff-roboto {
    font-family: 'Roboto Slab', serif;
}

.main-text {
    font-size: 6rem;
}

.card {
    width: 18rem;
}

.col-h {
    height: 100%;
    max-height: 400px;
}

ul {
    list-style: none;
}

.btn {
    font-family: var(--ff-robotoSlab);
    font-size: 18px;
}

.bg-img {
    position: absolute;
    opacity: .23;
    z-index: 1;
    max-width: 100%;
    object-fit: contain;
}
.cont-head {
    font-family: var(--ff-robotoSlab);
    position: relative;
}
.cont-desc {
    /* padding-inline: 18rem; */
    font-family: var(--ff-nunito);
    max-width: 720px;
}

/* Section Header */
.nav-item {
    transition: all .23s ease-in-out;
    margin-left: 3rem;
    position: relative;
}
li.nav-item:hover {
    scale: 1.04;
}
li.nav-item:hover::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffe24d;
    position: absolute;
    border: 5px solid transparent;
    bottom: -5px;
    right: 45%;
}

/* Section Hero */
section#hero{
    
    position: relative;
}
.blurry{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -2;
}

span#typed_head{
    font-size: 1.7rem;
}

.image-block, .text-block {z-index: 2;}

.element-one {
    background-color: #525252;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 60%;
    top: 2%;
    opacity: .1;
    z-index: 1;
    border-radius: 50%;
}

.element-two {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #ffe24d;
    top: 2.7%;
    left: 2rem;
    border-radius: 50%;
}

.frame2 {
    top: 3rem;
    right: -2rem;
    animation: upDown 4.8s infinite ease-in-out;
}

@keyframes upDown {
    0% {
        top: 1.5rem;
    }
    50% {
        top: 4rem;
    }
    100% {
        top: 1.5rem;
    }
}

.svg-group {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.svg-item {
    width: 160px;
    position: absolute;
    opacity: .09;
    filter: grayscale(100%);
    animation: shrinkGrow 3s infinite ease-in;
}

@keyframes shrinkGrow {
    0% {
        transform: scale(.81);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(.81);
    }
}

.item-1 {top: 2rem; right: 2rem;}
.item-2 {left: 12%; top: 12%; }
.item-3 {right: 24rem; bottom: 1.2rem;}
.item-4 {top: 49%; left: 36%; rotate: 45deg;}
.item-5 {bottom: 15%; opacity: .25;}
.item-6 {top: 18%; left: 48%;}
.item-7 {top: 35%; left: 15%;}


/* Section: Cards */
.card h4.text-muted {
    font-family: var(--ff-robotoSlab);
    font-weight: 700;
}
.card:hover {
    background-color: rgb(254, 254, 254);
    transition: all .35s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scale: 1.05;
}
.card:hover h4.text-muted {
    color: #000 !important;
}
.card:hover svg {
    fill: #ffe24d;
    stroke: #ffe24d;
}
/* Section: How it Works */
.how-it-works {
    transition: all .23s ease-in;
}
.how-it-works .col {
    z-index: 5;
}
.how-it-works .col img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Section FAQ */
img.faq-img {
    max-width: 100%;
    max-height: 480px;
    object-fit: scale-down;
}

/* Section Footer */
.footer .bottom-links a {
    margin-left: 25px;
    position: relative;
}
.footer .bottom-links a:not(:last-child)::after {
    content: '';
    height: 100%;
    width: 2.2px;
    background: grey;
    position: absolute;
    right: -15px;
    top: 2px;
}